body{
    margin: 0;
    color: #EEEEEE;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    height: 385px;
    border: 5px solid white;
    margin-top: 50px;
    background-color:#1B244A;
    ;
    align-items: center;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 250;
    width: auto;
    margin: 10px 40px;
    padding: 15px;
}
.sb{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 160px;
    height: 200px; 

}
.location{
    width: 149px;
    height: 36px;
    margin-bottom: 20px;

}
.display{
    height: 50px;
    width: 155px;
    background-color: #080001;
    color: #F94F6D;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 155px;
    height: 120px;
}
.point-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 45px;

}
.btn{
    color:#9AABD8;
    background-color: inherit;
    border: 1px solid #9AABD8;
    border-radius: 3px;
    margin: 5px;

}
