body{
    margin: 0;
    color: #EEEEEE;
    text-align: center;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 250px;
    border: 5px solid white;
    margin-top: 50px;
    background-color: blue;
    align-items: center;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 250;
    width: auto;
    margin: 10px 40px;
    padding: 15px;


}
.points{

}
.sb{

    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;;

}
.location{

}
.display{
    height: 50px;
    width: 100px;
    background-color: #080001;
    color: #F94F6D;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}
.point-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.btn{
    color:#9AABD8;
    background-color: inherit;
    border: 1px solid #9AABD8;
    border-radius: 3px;
}
