body{
    margin: 0;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    margin-top: 50px;
}
.scoreboard{

    display: flex;
    flex-direction: row;
    margin: 10px;


}
.points{

}
.sb{

    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}
p{
    height: 50px;
    width: 45px;
    background-color: blue;
}
.points-btn{
    display: flex;
    flex-direction: row;
}
