body{
    margin: 0;
    color: #EEEEEE;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 220px;
    border: 5px solid white;
    margin-top: 50px;
    background-color: blue;
}
.scoreboard{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    padding: 15px;


}
.points{

}
.sb{

    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}
p{
    height: 50px;
    width: 45px;
    background-color: #080001;
    color: #F94F6D;

    font-family: Cursed Timer ULiL;
    font-size: 90px;
    font-weight: 400;
    line-height: 127px;
    letter-spacing: 0em;
    text-align: center;
}
.points-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid #9AABD8;
}


