body{
    margin: 0;
    color: #EEEEEE;
    text-align: center;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 400px;
    height: 220px;
    border: 5px solid white;
    margin-top: 50px;
    background-color: blue;
    align-items: center;
}
.scoreboard{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
    width: auto;
    margin: 10px 40px;
    padding: 15px;


}
.points{

}
.sb{

    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;;

}
#points{
    height: 50px;
    width: 100px;
    background-color: #080001;
    color: #F94F6D;
    text-align: center;
    border-radius: 1px;
    padding: 20px 30px;
}
.points-btn{
    display: flex;
    flex-direction: row;
    border: 2px solid #9AABD8;
    border-radius: 3px;
}


