body{
    margin: 0;
}
.container{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 200px;
    height: 300px;
    border: 2px solid black;
}
.scoreboard{

    display: flex;
    flex-direction: row;
    margin: 10px;

}
.points{

}
.sb{

}
p{
    height: 50px;
    width: 45px;
    background-color: blue;
}
